footer {
    background-color: #D8D8D8;
}

.footer {
    padding: 5rem 12rem;
}

.footer_user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer_user a {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}

.footer_menu {
    position: relative;
    padding: 2rem 0;
    border-bottom: 2px solid #fff;
}

.footer_menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer_menu li {
    position: relative;
}

.footer_menu li {
    padding: 0 1rem;
}

.footer_menu a {
    padding: 4px 4rem;
    background-color: #fff;
}

.footer_social {
    padding-top: 3rem;
}

.footer_social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer_social li {
    line-height: 20px;
    padding: 0 2.5rem;
}