/* start of header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 17px 50px;
}

.header_user a {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #d8d8d8;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

.menu>div {
    background-color: #d8d8d8;
    width: 154px;
    height: 31px;
    margin-left: 40px;
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* End of Header  */


/* Start of Banner */

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.banner {
    background-color: #d8d8d8;
    color: #000;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    height: 450px;
}

.banner h1 {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: -1px;
}

.inner0 {
    margin-left: 130px;
    padding-top: 123px;
}

.banner_desc h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 29px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /* padding-top: 29px; */
}

.actons_button {
    margin-right: 25px;
    width: 283px;
    height: 60px;
    /* display: block; */
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* line-height: 33px; */
    text-align: center;
    padding: 15px 12px;
}

.actons_white {
    background-color: #fff;
    color: #000;
}

.actons_black {
    background-color: #000;
    color: #fff;
}


/* End of Banner */