/* .gallery .inner {
    padding: 5rem 4rem;
} */

.gallery_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.gallery_row .item {
    padding: 0 1rem;
}

.item_image {
    width: 100%;
    padding: 6rem 0;
    background-color: #d8d8d8;
}

.item_header {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-top: 1rem;
    color: #1C1E20;
    /* padding-right: 5px; */
    margin-right: 5px;
    padding: 15px 12px;
}

.item_description {
    padding-top: 1rem;
    color: #1C1E20;
}

.item_link {
    padding-top: 2rem;
}

.item_link a {
    color: #787878;
}

.item:last-child {
    margin-right: 110px;
}

.item:first-child {
    margin-left: 110px;
}

.inner1 {
    margin: 80px 80px;
}


/* end of gallery */


/* start of sign-up section */

.sign-up {
    background-color: #D8D8D8;
}

.sign-up .inner {
    padding: 7rem 21rem;
}

.sign-up_header {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #1C1E20;
}

.sign-up form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0 0;
}

.sign-up .inputbox {
    width: 60%;
    ;
}

.sign-up input {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #787878;
    width: 100%;
    border: 0;
    box-sizing: border-box;
}

.sign-up button {
    background-color: #000;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    width: 40%;
    padding: 1rem;
    border: 0;
    box-sizing: border-box;
}


/* end of sign-up section */


/* start of news section */

.news {
    padding: 5rem 0;
}

.news_row {
    padding: 0rem 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.news-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.news-item+.news-item {
    padding-top: 4rem;
}

.news-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.news-item_image {
    padding: 11rem 16rem;
    background-color: #D8D8D8;
}

.news-item_description {
    color: #1C1E20;
}

.news-item:nth-child(odd) .news-item_description {
    text-align: right;
    padding-right: 4rem;
}

.news-item:nth-child(even) .news-item_description {
    text-align: left;
    padding-left: 4rem;
}

.news-item_header {
    font-size: 2rem;
    line-height: 3rem;
}

.news_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 4rem;
}

.news_button a {
    padding: .5rem 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
    background-color: #000;
    color: #fff;
}


/* end of news section */