/* start of article header  */
.gallery {
   height: 667px;
}

.gallery__row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__image {
    width: 380px;
    height: 244px;
    background-color: #d8d8d8;
}

.item__header {
    width: 380px;
    font-size: 30px;
    padding-bottom: 10px;
    line-height: 38px;

}

.item__description {
    width: 380px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
}

.item {
    padding-right: 40px;
    padding-top: 80px;
}

.item:last-child {
    padding-right: 0px;
}

.header__article-text {
    padding-top: 30px;
}

.item__link a {
    text-decoration: none;
    color: #787878;
    font-size: 18px;
    line-height: 23px;

}

a:hover{
    text-decoration-line: underline;
}


/* end of article header */


/* start of sign-up section */

.sign-up {
    background-color: #D8D8D8;
}

.sign-up .inner {
    padding: 7rem 21rem;
}

.sign-up_header {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #1C1E20;
}

.sign-up form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0 0;
}

.sign-up .inputbox {
    width: 60%;
    ;
}

.sign-up input {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #787878;
    width: 100%;
    border: 0;
    box-sizing: border-box;
}

.sign-up button {
    background-color: #000;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    width: 40%;
    padding: 1rem;
    border: 0;
    box-sizing: border-box;
}


/* end of sign-up section */


/* start of news section */

.news {
    padding: 5rem 0;
}

.news_row {
    padding: 0rem 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 30px;
}

.news-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.news-item_txt {
    line-height: 30px;
    width: 543px;
height: 90px;
/* margin-left: 124px; */
/* margin-right: 60px; */
}

.news-item{
    padding-top: 4rem;
}

.news-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.news-item_image {
    /* padding: 11rem 16rem; */
    background-color: #D8D8D8;
    width: 588px;
height: 386px;
left: 727px;
top: 1684px;
/* margin-right: 125px; */
/* margin-left: calc(124px+543px+60px); */

background: #D8D8D8;
}

.news-item_description {
    color: #1C1E20;
    font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
text-align: right;
}

.news-item:nth-child(odd) .news-item_description {
    text-align: right;
    padding-right: 60px;
}

.news-item:nth-child(even) .news-item_description {
    text-align: left;
    padding-left: 60px;
}

.news-item_header {
    font-size: 2rem;
    line-height: 3rem;
}

.news_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 4rem;
}

.news_button a {
    padding: .5rem 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
    background-color: #000;
    color: #fff;
}


/* end of news section */